<h1>Restaurant #<%= @restaurant.id %></h1>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Location:</b>
  <%= @restaurant.location %>
</p>

<p>
  <b>Cuisine:</b>
  <%= @restaurant.cuisine %>
</p>


