<div class="footer">
	<hr>
	<ul>
		<li>About</li>
		<li>FAQ</li>
		<li>Contact</li>
	</ul>		
</div>
<div class="social-footer">
	<ul>
		<li><i class="fa fa-facebook"></i></li>
		<li><i class="fa fa-twitter"></i></li>
		<li><i class="fa fa-google-plus"></i></li>
	</ul>
</div>